.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    /* margin-top: 20px; */
    
}

.info {
    color: blue;
}

.novedades {
    color: white;
}

.banner img, .novedades img {
    max-width: 100%; 
    height: auto; 
}
