body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.login-form {
    position:absolute;
    width: 350px;
    padding: 20px;
    background-color: #fff;

    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.mb-3 input {
    border: 1px solid rgba(0, 0, 0, 0.218);
}

.login-form .form-label {
    color: #555;
}

.login-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.login-form .forgot-password {
    text-align: center;
    margin-top: 10px;
}

.login-form .forgot-password a {
    color: #0069d9;
    text-decoration: none;
}

.login-form .forgot-password a:hover {
    text-decoration: underline;
}
.left{
    width: 50%;
    height: 100vh;
    background-color: #ECBC76;
    
}

.left img{
    height: 300px;
    margin-left: 370px;
    margin-top: 80px;
    border-bottom: 2px solid black; /* Borde inferior de 1 píxel de grosor y color negro */

    
}
.right{
    width: 50%;
    height: 100vh;
    background-color: #fff;
   
}
.right img{
    margin-left: 130px;
    margin-top: 250px;
}
.opcion_arriba{
    margin-left: 20px;
}
.opcion_abajo{
    margin-left: 40px;
}

